#container-1 {
    width: 100%;
    height: 300px;
    background-color: yellow;
    background: url(/img/offwhiteFives/2.jpg) no-repeat center;
    background-size: cover;
    
}
#container-2 {
    width: 100%;
    height: 300px;
    background-color: yellow;
    background: url(/img/travisScotts/1.jpg) no-repeat center;
    background-size: cover;
    
}
#container-3 {
    width: 100%;
    height: 300px;
    background-color: yellow;
    background: url(/img/offwhiteAirMax/3.jpg) no-repeat center;
    background-size: cover;
    
}

#container-4 {
    width: 100%;
    height: 300px;
    background-color: yellow;
    background: url(/img/yeezyBoost/1.jpg) no-repeat center;
    background-size: cover;
    
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    z-index:1;
    transition: all 1s ease; 
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.308);
}

.banner-text {
    z-index: 2;
    color: white;
    height: 100px;
    line-height: 300px;
    padding-left: 20px;
    white-space: nowrap;

}

.custom-btn {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(255, 217, 0);
    padding: 5px;
    width: 6rem;
    color:rgb(255, 217, 0);
}


.form-control {
    border-radius: 20px !important;
    padding: 6px !important;
    background-color: black !important;
    color: gray !important;
    border-color: black !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.current {
 color: rgb(255, 217, 0);
}

.bg-darkk {
    background-color: rgb(20, 20, 20);
}

* {
    font-family: 'Turret Road', monospace;
}